.progressBarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 90%;
}

.dotsAndLines {
  width: 100%;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0px;
  overflow-y: visible;
}

.dot {
  height: 20px;
  width: 20px;
  font-size: 20px;
  color: gray;
  overflow-x: visible;
}

.dot.updated {
  color: #346751 !important;
}

.lines {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 0px;
}

.line {
  width: 33%;
  height: 5px;
  background-color: gray;
}

.line.updated {
  background-color: #346751 !important;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 50%;
  min-height: 40px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 0;
  overflow-x: visible;
  text-decoration: none;
  color: black;
}

.link.enabled {
  color: #346751 !important;
}

.link.enabled:hover {
  text-decoration: underline 3px #346751;
}

@media (max-width: 350px) {
  .progressBarContainer {
    width: 270px;
  }

  .links {
    width: 90%;
  }
}
