/* FOR VENUE SELECTION PAGE  */

.containers{
    display: flex;
}

.updatedDot {
    height: 2.65vh;
    width: 1.25vw;
    border-radius: 50%;
    background-color: #346751;
    display:inline-block;
    margin-right:4vw;
    font-size: 1vw; 
    font-family: Roboto Condensed;
    font-weight: 300;
    color: #161616;
    transition: font;
}

.updatedDot :hover {
    cursor: pointer;
    font-weight: bold;    
}

.dot {
    height: 2.65vh;
    width: 1.25vw;
    border-radius: 50%;
    background-color: #C4C4C4;
    display:inline-block;
    margin-right:4vw;
    font-size: 1vw; 
    font-family: Roboto Condensed;
    font-weight: 300;
    color: #161616;
}

.dot4 {
    height: 2.65vh;
    width: 1.25vw;
    border-radius: 50%;
    background-color: #C4C4C4;
    display:inline-block;
    font-size: 1vw; 
    font-family: Roboto Condensed;
    font-weight: 300;
    color: #161616;
}

.updatedDot4 {
    
    height: 2.65vh;
    width: 1.25vw;
    border-radius: 50%;
    display:inline-block;
    font-size: 1vw; 
    font-family: Roboto Condensed;
    font-weight: 300;
    font-size: 1vw;
    color: #161616;
}
  
.caption-venue{
    display: block;
    margin-left:-0.8vw;
}
.caption-date {
    display: block;
    margin-left:-0.4vw;
}
  
.caption-details {
    display: block;
    margin-left:-1vw;
}
  
.caption-submit {
    display: block;
    margin-left:-0.8vw;
}
  
.updatedLine {
    height:1vh;
    background-color:#346751;
    width:5.3vw;
    margin-left:1vw;
    border: 0px;
    display:inline-block;
  }

.line {
    height:1vh;
    background-color:#C4C4C4;
    width:5.3vw;
    margin-left:1vw;
    border: 0px;
    display:inline-block;
}

.line4 {
    width: 0%;
    border: 0px;
    display:inline-block;
}

