.outertabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80vh;
}

.outertabs__tabSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ecdbba;
  width: 10vw;
  margin-right: 1vw;
}

.outertabs__tabSelector__tabSelection {
  padding: 2vh 0;
  margin: 0 0;
  width: 100%;
  cursor: pointer;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

.tabSelection__active {
  background-color: #c84b31;
  color: white;
}

.outertabs__tab {
  display: none;
}

.outertabs__tab__active {
  display: flex;
  min-width: 60vw;
  border: 2px solid#c84b31;
}
