.dot1,
.dot2 {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #346751;
  display: inline-block;
  margin-right: 49px;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  color: #161616;
  transition: font;
}

.dot1 :hover,
.dot2 :hover,
.dot3 :hover,
.dot4 :hover {
  cursor: pointer;
  font-weight: bold;
}

.dot3,
.dot4 {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #c4c4c4;
  display: inline-block;
  margin-right: 49px;
  font-size: 12px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  color: #161616;
}

.caption-venue {
  display: block;
  margin-left: -10px;
}

.caption-date {
  display: block;
  margin-left: -4px;
}

.caption-details {
  display: block;
  margin-left: -11px;
}

.caption-submit {
  display: block;
  margin-left: -9px;
}

.line1,
.line2 {
  height: 5px;
  justify-content: center;
  background-color: #346751;
  width: 64px;
  margin-top: 2.75px;
  margin-left: 2.5px;
  border: 0px;
  display: inline-block;
}

.line3 {
  height: 5px;
  justify-content: center;
  background-color: #c4c4c4;
  width: 64px;
  margin-top: 2.75px;
  margin-left: 2.5px;
  border: 0px;
  display: inline-block;
}

.line4 {
  margin-top: 2.75px;
  margin-left: 2.5px;
  border: 0px;
  display: inline-block;
}
