.mainScheduleContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.selectedDateDisplay {
  color: #ecdbba;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 75%;
  font-weight: bold;
  margin: 0 0;
  justify-content: center;
}

.timeSlotContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  height: 75%;
  overflow-y: scroll;
}

.timeSlotContainer::-webkit-scrollbar {
  display: none;
}

.schedulePreview {
  color: white;
  margin: 2% 0;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
}

.timeSlots {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.timeSlot {
  width: 48%;
  height: 2vh;
  min-height: 15px;
  padding: 1px 0;
  margin-bottom: 1vh;
  border: none;
}

.timeSlot:nth-of-type(2n-1) {
  margin-right: 0.5vw;
}

.timeSlotAvailable {
  background-color: #346751;
  cursor: pointer;
}

.timeSlotSelected {
  background-color: #c84b31;
  cursor: pointer;
}

.timeSlotBooked {
  background-color: #888888;
}

.timeSlotText {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  text-align: center;
  color: white;
  margin: 0 0;
}

.legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  justify-content: center;
  width: 75%;
}

.legendBox {
  width: 48%;
  height: 100%;
  text-align: center;
}

.legendBox:first-of-type {
  margin-right: 0.5vw;
}

@media only screen and (max-width: 800px) and (min-width: 501px) {
  .timeSlot {
    width: 100%;
    margin-right: 0 !important;
  }

  .selectedDateDisplay {
    width: 85%;
    font-size: 25px;
    text-align: center;
  }

  .timeSlotContainer {
    height: 70%;
  }

  .legend {
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .legendBox {
    height: unset;
    width: 100%;
  }

  .legendBox:first-of-type {
    margin-right: unset;
    margin-bottom: 1vh;
  }
}

@media only screen and (max-width: 500px) {
  .mainScheduleContainer {
    height: 55vh;
    min-height: 400px;
  }

  .timeSlot:nth-of-type(2n-1) {
    margin-right: 2.5vw;
  }

  .timeSlotText {
    font-size: 20px;
  }

  .legend {
    width: 90%;
    font-size: 20px;
  }

  .legendBox:first-of-type {
    margin-right: 2.5vw;
  }

  .legendBox {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .timeSlotContainer {
    width: 90%;
    overflow-y: scroll;
    height: 70%;
  }

  .timeSlot {
    height: 35px;
  }

  .schedulePreview {
    font-size: 20px;
  }
}
