.selectedDisplayContainer {
  background-color: #ecdbba;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

.selectedTime {
  margin: 0 0;
  padding: 0 0;
  margin-left: 5%;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}

@media only screen and (max-width: 500px) {
  .selectedTime {
    font-size: 20px;
    margin-left: 2%;
  }

  .selectedDisplayContainer {
    align-items: flex-start;
    padding: 2% 0;
    width: 90%;
    height: 15vh;
    overflow-y: scroll;
  }
}
