.adminBookingRequestApprove {
    text-decoration: none;
    color: #346751;
    font-size: 12px;
    border: 1px solid #346751;
    padding: 8px;
    margin: 5px;

}

.adminBookingRequestReject {
    text-decoration: none;
    color: #C84B31;
    padding: 8px;
    border: 1px solid #C84B31;
}