.BookingRequestPageContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.BookingRequestsPageSortBy {
  margin-left:90%;
  margin-top: -2.5%;
  background-color: #ECDBBA;
  padding:8px;
  margin-bottom: 2%;
  font-size: 16px;
  font-family: Roboto Condensed;
}

table   {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  min-width: 100%;
  justify-content: space-between;
}

table  th {
    border: 1px solid #ECDBBA;
    padding: 8px;
    background-color: #ECDBBA;
    font-family: Roboto Condensed;
}

table   td {
  padding: 8px;
  font-size: 12px;
  font-weight: 520;
  font-family: Roboto Condensed;
}

table   tr:hover {
  border: 1px solid #ECDBBA;
  background-color: #ECDBBA;
  cursor: pointer;
}

table   th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ECDBBA;
  font-size: 12px;
  color: #000;
}


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  width: 100%;
}

.pagination a {
  padding: 8px;
  color: #c84b31;
  font-size: 16px;
  font-family: Roboto Condensed;
  font-weight: 500;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff;
  background: #c84b31;
  padding: 5px;
   font-family: Roboto Condensed;
}

.pagination__link--disabled a {
  color: #c84b31;
  cursor: initial;
}

.BookingRequestPageVenueHeader{
  width: 15%;
}

.BookingRequestPageCCAHeader{
  width:15%;
}

.BookingRequestPageTimeBookedHeader{
  width: 25%;
}

.BookingRequestPagePurposeHeader{
  width:30%;
}

.adminBookingRequestApprove {
  text-decoration: none;
  color: #346751;
  font-size: 12px;
  border: 1px solid #346751;
  padding: 8px;
  margin: 5px;

}

.adminBookingRequestReject {
  text-decoration: none;
  color: #C84B31;
  padding: 8px;
  border: 1px solid #C84B31;
}