.pendingrequest__main__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.completedrequest__main__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.BookingRequestPageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.BookingRequestsPageSortBy {
  margin-left: 90%;
  margin-top: -2.5%;
  background-color: #ecdbba;
  padding: 8px;
  margin-bottom: 2%;
  font-size: 16px;
  font-family: Roboto Condensed;
}

.pendingreq__table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  min-width: 100%;
  height: 90%;
  justify-content: flex-start;
}

.pendingreq__table  th {
  border: 1px solid #ecdbba;
  padding: 8px;
  height: 40px;
  background-color: #ecdbba;
  font-family: Roboto Condensed;
}

.pendingreq__table  td {
  padding: 8px;
  font-size: 12px;
  font-weight: 520;
  font-family: Roboto Condensed;
  border-bottom: 1px solid #ecdbba;
}

.pendingreq__table tr:hover {
  border: 1px solid #ecdbba;
  background-color: #ecdbba;
  cursor: pointer;
}

.pendingreq__table  th {
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
  background-color: #ecdbba;
  font-size: 12px;
  color: #000;
}

.BookingRequestpagination {
  display: flex;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: -7%;
}

.BookingRequestpagination a {
  padding: 8px;
  color: #c84b31;
  font-size: 16px;
  font-family: Roboto Condensed;
  font-weight: 500;
}

.BookingRequestpagination__link {
  font-weight: bold;
}

.BookingRequestpagination__link--active a {
  color: #fff;
  background: #c84b31;
  padding: 5px;
  font-family: Roboto Condensed;
}

.BookingRequestpagination__link--disabled a {
  color: #c84b31;
  cursor: initial;
}

.BookingRequestPageVenueHeader {
  width: 15%;
}

.BookingRequestPageCCAHeader {
  width: 15%;
}

.BookingRequestPageTimeBookedHeader {
  width: 20%;
}

.BookingRequestPagePurposeHeader {
  width: 40%;
}


