@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.maindiv{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: "Roboto Condensed", sans-serif;
}

.filter{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    
}

.list{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    list-style:none;
    background-color:#ecdbba;
    border-color:#ecdbba;
    border-width:0.5vw;
}

.list_content{
    list-style:none;
    background-color:white;
    margin:0vh;
    width:100%;
}

.buttons{
    width: 80%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1% 0;
}

.cancel {
    border: 1px solid #c84b31;
    color: #c84b31;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
    margin-right: 1vw;
}

.submit {
    color: white;
    background-color:#c84b31;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
}


