.confirmationContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: inherit;
}

.confirmationTitle {
    width: 90%;
    align-self:left;
}

.submitContainer {
    margin-top: 3%;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 0%;
    width: 35%;
    padding: 0.5em;
    padding-bottom: 3%;
    padding-top: 1%;
    background-color:#ECDBBA
}

.submitContainer-text{
    position: relative;
    padding: 2rem;
}


.submitContainer-title{
    color:#C84B31
}

.confirmationHomeButton {
    border: 1px solid #c84b31;
    color: #c84b31;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    padding: 1% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.confirmationHomeButton:hover {
    background-color: #c84b31;
    color: white;
}

.bottomNavigation {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 0;
}

.confirmationNewButton {
    border: 1px solid #c84b31;
    background-color: #c84b31;
    color: white;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-serif;
    padding: 1% 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.confirmationNewButton:hover {
    background-color: #993926;
}

@media screen and (max-width: 1000px) {
    .submitContainer {
        margin-top: 3%;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 45%;
        padding: 0.5em;
        background-color:#ECDBBA
    }
}


@media screen and (max-width: 800px) {
    .submitContainer {
        margin-top: 3%;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 55%;
        padding: 0.5em;
        background-color:#ECDBBA
    }
}

@media screen and (max-width: 700px) {
    .submitContainer {
        margin-top: 3%;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 80%;
        width: 75%;
        padding: 0.5em;
        background-color:#ECDBBA
    }
}


@media screen and (max-width: 600px) {
    .submitContainer {
        margin-top: 3%;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 90%;
        width: 95%;
        padding: 0.5em;
        background-color:#ECDBBA
    }
}

@media only screen and (max-width: 500px) {
    .bottomNavigation {
      width: 95%;
      height: 10vh;
    }

    .confirmationHomeButtonMobile {
      border: 1px solid #c84b31;
      color: #c84b31;
      text-decoration: none;
      font-family: "Roboto Condensed", sans-serif;
      width: 48%;
      height: 35px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .confirmationNewButtonMobile {
        border: 1px solid #c84b31;
        color: white;
        text-decoration: none;
        font-family: "Roboto Condensed", sans-serif;
        width: 48%;
        height: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
  
  }


