.Venues-page {
  background-color: #ffffff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Header {
  width: 100%;
  margin-top: 54px;
  margin-left: 80px;
  height: 96px;
  padding-bottom: 48px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  display: inline-block;
  min-width: 72%;
}

.progressbar {
  display: inline-block;
  line-height: 16px;
  vertical-align: -16px;
  margin-right: 0%;
}

.venues-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: #ffffff;
}

.venue {
  position: relative;
  margin-inline-start: 2%;
  margin-bottom: 2%;
}
.venueImage {
  position: relative;
  width: 30vw;
}

.venueName {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 9%;
  height: 12%;
  padding-top: 1%;
  background-color: #000000;
  opacity: 50%;
  color: #ffffff;
  letter-spacing: 1.5px;

  font-family: Roboto Condensed;
}
