@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.NewRecurringForm{
    display:flex;
    flex-direction:column;
    font-family: "Roboto Condensed", sans-serif;
    align-items: flex-start;
    justify-content: flex-start;
}

.NewRecurringTitle{
    align-items: center;
    font-size: 24px;
    font-weight: 800;
    margin:1%;
}

.NewRecurringForm-row{
    display:flex;
    flex-direction:row;
    margin:2%;
}

.NewRecurringForm-row-content{
    display:flex;
    flex-direction:row;
    margin-right:2%;
    width:25vw;
}

.NewRecurringForm-row-content-label{
    font-size:16px;
    font-weight:300px;
    margin-right:1%;
    width:6vw;
}

input[type="text"] {
    background-color: #ecdbba;
    width:90%;
    height: 5vh;
    width: 12vw;
    max-height: 40px;
    border: 0px;
}

input[name="bookingEmail"] {
    background-color: #ecdbba;
    width:95%;
    height: 5vh;
    width: 12vw;
    max-height: 40px;
    border: 0px;
}

select{
    background-color: #ecdbba;
    height: 5vh;
    width: 12vw;
    max-height: 40px;
    border: 0px;
}