.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.scheduleAndCalendar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
  height: 70vh;
}

@media only screen and (max-width: 880px) {
  .scheduleAndCalendar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 70vh;
  }
}
