@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.mainDiv {
    flex-direction: column;
    background-color: white;
    height: 100vh;
    display:flex;
}

.contents{
    display:flex;
    flex-direction: column;
    margin-top:0vh;
    width:90%;
    background-color: #ECDBBA;
    justify-content: center;
}


.Venue {
    font-family:Raleway, Light 300;
    font-style:normal;
    font-weight:800;
    font-size: 32px;
    float:left;
    position:absolute;
    left:5vw;
    top:12vh;
    line-height: 48px;
    display: inline-block;
    min-width: 72%;
}

.progressbar{
    margin-top:-11vh;
    float:right;
    margin-left:70vw;
}

.Titles {
    color:#C84B31;
    font-family:Raleway, Light 300;
    font-style:normal;
    font-weight:800;
    font-size:24px;
    margin-left: 8vw;
    margin-right:2vw;
    text-align:right;
    margin-bottom:0.1vh;
}

.row {
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:0.1vh;
}

.black{
    color:black;
    font-family: Roboto Light 300;
    font-style: normal;
    font-weight:300;
    font-size:20px;
    margin-bottom:0.1vh;
}

input[name=Email]{
    height:5vh;
    width:50%;
    margin-top:2vh;
}

input[name =Purpose]{
    margin-top:3vh;
}

label[for=CCA]{
    margin-top:3vh;
}

label[for=Personal]{
    margin-top:3vh;
}

.active{
    width:100%;
    height:10vh;
    visibility: visible;
    margin-bottom:2vh;
    margin-top:1vh;
}

.inactive{
    visibility: hidden;
}

input[name= HallCCA] {
    height:5vh;
    width:50%;
    margin-left:16vw;
    margin-bottom:2vh;
}

input[name=Details] {
    height:96px;
    width:70%;
    justify-content:center;
    margin-left:16vw;
    margin-top:-5vh;
    margin-bottom:5vh;
}

input[name = Submit] {
    background-color:grey;
    color:white;
    font-family: Roboto Light 300;
    font-style: normal;
    height:8vh;
    width:15vw;
    right:10px;
    position:relative;
    left: 75%;
    margin:1vh;
}

input[name = Back] {
    background-color:white;
    color:#C84B31;
    font-family: Roboto Light 300;
    font-style: normal;
    height:8vh;
    width:15vw;
    margin:1vh;
    border-color:#C84B31;
    position:relative;
    left:-75%;
}
