.venuesContainer {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.specificVenue {
    width: 20%;
    margin-left: 10%;
    height: 300px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.venueImage {
    width: 100%;
    height: 80%;
}

.venueName{
    font-weight: bold;
    text-align: center;
    margin: 0px 0px;
}