.Venues-page{
    background-color: #FFFFFF;
    margin-top: 0%;
}
.Header { 
    width: 100%;
    margin-top: 51px;
    padding-left: 70px;
    padding-top: 51px;
    padding-bottom: 44px;
    display: flex;
    flex-direction: row;
}

.Title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 49px;
    color: #000000;
    padding-right: 357px;
}

.header-image {
    width: 26%;
    height: 10%;
    padding-top: 10px;
    align-items: flex-end;
    justify-content: center;
    image-rendering: -moz-crisp-edges;
}

.venues-container {
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: initial;
    border: #FFFFFF;

}

.specificVenue {
    margin-left: 15%;

}

.venue {
    position: relative;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: stretch;
    margin-inline-end: 2%;
}
.venueImage {
    position: relative;
    height: 250px;
    width:370px;
}

.venueName{
    display: flex;
    padding-left: 5%;
    min-width: 100%;
    position: absolute;
    bottom: 9%;
    margin-left: 15%;
    height: 12%;
    padding-top: 1%;
    background-color: #000000;
    opacity: 50%;
    color: #FFFFFF;
    letter-spacing: 1.5px;

    font-family: Roboto Condensed;

}
