@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.navbar-name {
  color: #ecdbba;
  font-family: Raleway, Light 300;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  position: absolute;
  left: 5vw;
  top: -4vh;
}

.NavbarItems {
  background-color: #c84b31;
  height: 15vh;
  width: 100%;
  margin-top: -5vh;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  text-align: center;
  list-style: none;
  justify-content: flex-end;
  padding: 3vh;
}

.nav-links {
  color: #ffffff;
  font-family: Roboto Light 300;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 10vh;
  text-align: center;
  text-decoration: none;
  margin-right: 5vw;
  top: -4vh;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
  text-decoration: underline;
}

@media only screen and (max-width: 1000px) {
  .navbar-name {
    font-size: 180%;
  }

  .NavbarItems {
    width: 100%;
  }

  .nav-menu {
    width: 100%;
  }

  .nav-links {
    font-size: 100%;
  }
}
