@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.navbar-name {
  color: #ecdbba;
  font-family: Raleway, Light 300;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
}

.NavbarItems {
  background-color: #c84b31;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  height: 10vh;
  width: 70vw;
  flex-direction: row;
  text-align: center;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-links {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 10vh;
  text-align: center;
  text-decoration: none;
}

.nav-links:nth-of-type(2) {
  margin: 0 10%;
}

.nav-links:hover {
  transition: all 0.2s ease-out;
  text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
  .nav-menu {
    width: 95vw;
  }

  .navbar-right {
    width: 50vw;
  }
}
