.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  background-color: inherit;
}

.banner {
  width: 70%;
  background-color: #ecdbba;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin: 0 0;
  margin-bottom: 1%;
  padding: 0.5%;
}

.vbs {
  font-family: "Raleway", sans-serif;
}

.scheduleAndCalendar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  height: 65vh;
}

/* @media only screen and (max-width: 1150px) {
  .selectedDateDisplay {
    font-size: 1.5rem;
  }
} */

.bottomNavigation {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1% 0;
}

.backButton {
  border: 1px solid #c84b31;
  color: #c84b31;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  padding: 1% 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.backButton:hover {
  background-color: #c84b31;
  color: white;
}

.submitButton {
  color: white;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0.5% 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.enabled {
  background-color: #c84b31;
}

.enabled:hover {
  background-color: #993926;
}

.disabled {
  background-color: #888888;
}

@media only screen and (max-width: 1200px) {
  .scheduleAndCalendar,
  .banner {
    width: 95vw;
  }

  .statusBarContainer {
    width: 95vw;
  }

  .bottomNavigation {
    width: 95vw;
  }
}
