
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.timeButtons {
  padding-left: 2rem;
  padding-top: 0.8rem;
}

.table {
  margin-right: 0px;
  text-align: center;
}

.rowFlex {
  display:flex; 
  flex-direction:row;
  justify-content: center;
}

.container {
    width: 41rem;
}
.react-calendar {
    width: 90%;
    max-width: 90%;
    background: rgba(1, 102, 89, 0.986);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    border-radius: 360px;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #43c2bb;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.4em;
    color: beige;

  }
  .react-calendar__month-view__weekNumbers {
    font-weight: bold;
    color: beige;

  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: left;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
    color: beige;
  }
  .react-calendar__month-view__days__day--weekend {
    color: rgb(82, 82, 82);

  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: black;

  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
    
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    /* padding: 0.75em 0.5em; */
    padding: 1.8em 1.5em;
    background: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: beige;
    border-radius: 50%;
    font-size: 1rem;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #43c2bb;
  }
  .react-calendar__tile--now {
    background: #89cfeb;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #43c2bb;
  }
  .react-calendar__tile--active {
    background: #43c2bb;
    color: white;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #43c2bb;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  